body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: arial;
}

header {
 width: 100%;
 flex: 0 0 50px;
}

header > nav {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid grey;
}

header img {
  display: block;
  height: 40px;
  margin: 5px;
}

#sideBarAndMain {
  width: 100%;
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#sideBar {
  height: 100%;
  flex: 0 0;
  border-right: 1px solid grey;
}

#sideabar ol {
  margin: 0;
  padding: 0;
}

#sidebar li {
  list-style-type: none;
  color: black;
  padding: 3px 5px;
  margin: 0;
}

#sideBar a {
  white-space: nowrap;
}

main {
  flex: 1 1 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

#mainContent {
  flex: 0 0;
  max-width: 1060px;
  padding: 0 10px;
}
