body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
 width: 100%;
 flex: 0 0 50px;
}

header > nav {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid grey;
}

#sideBarAndMain {
  width: 100%;
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#sideBar {
  height: 100%;
  flex: 0 0;
  border-right: 1px solid grey;
}

#sideBar a {
  white-space: nowrap;
}

main {
  flex: 1 1 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

#mainContent {
  flex: 0 0;
  max-width: 1080px;
}
